<div class="page">
    <div class="login-container">
        <span id="yra">YRA ACCOUNT</span>
        <h1>Welcome back</h1>
        <p>Sign in to access your member dashboard.</p>
        <div class="form-container">
            <form (submit)="onSubmit($event)">
                <div class="email">
                    <label for="email">Email address</label>
                    <input
                        type="email"
                        placeholder="you@example.com"
                        [formField]="loginForm.email"
                    >
                    @if (loginForm.email().touched() && loginForm.email().invalid()) {
                        <ul>
                            @for (err of loginForm.email().errors(); track err) {
                                <li>{{ err.message }}</li>
                            }
                        </ul>
                    }
                </div>
                <div class="password">
                    <label for="email">Password</label>
                    <input
                        type="password"
                        placeholder="▪▪▪▪▪▪▪▪"
                        [formField]="loginForm.password"
                    >
                    @if (loginForm.password().dirty() && loginForm.password().invalid()) {
                        <ul>
                            @for (err of loginForm.password().errors(); track err) {
                                <li>{{ err.message }}</li>
                            }
                        </ul>
                    }
                </div>
                <div class="checkbox">
                    <input type="checkbox">
                    <label for="checkbox">Remember me</label>
                </div>
                <button
                    type="submit"
                    [disabled]="loginForm().invalid()"
                >
                    Sign in
                </button>
            </form>
        </div>
        <div class="create-acct">
            <span id="new-yra">New to YRA?</span>
            <a routerLink="/join-yra">Create an account</a>
        </div>
    </div>
</div>